html {
	margin: none;
}

body {
	background: #fff;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.wrap {
	overflow: hidden;
}

.flower-img {
	float: left;
	margin-right: 60px;
	/* Looks kitsch */
	/* box-shadow: rgba(255,255,255, 1) -30px 0px 30px 0px inset; */
}

img {
	z-index: -1;
	position: relative;
}

.text-wrap {
	overflow: scroll;
	box-shadow: rgba(255,255,255, 1) 0px 50px 50px 0px inset;

}
.text {
	margin-right: 40px;
}

h1, h2, h3, p {
	font-family: Helvetica;
	font-weight: 200;

}

h1 {
	line-height: 36px;
	font-size: 35px;
	padding: 20px auto;
	color: #2ff;
	letter-spacing: -1px;
}

h3 {
	content: #22f;
	font-size: 28px;
	line-height: 30px;
	padding-top: 20px;
}

p {
	line-height: 30px;
	font-size: 24px;
	letter-spacing: -1px;
}