---
layout: page
title : Blog Posts
header : Blog Posts
group: navigation
---
{% include JB/setup %}

<p>Other formats: <a href="{{ BASE_PATH }}/archive">Archive</a>. Arranged by <a href="{{ BASE_PATH }}/tags">tags</a>. <a href="https://www.burntfen.com/feed.xml">RSS</a>.</p>

<hr />

{% for post in site.posts limit:5 %}

  <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>

  <div class="post">
    <p class="published"><i>Published on <span class="date">{{ post.date | date_to_long_string }}</span></i></p>
    {{ post.content }}
  </div>

  <hr class="post-divider"/>
{% endfor %}

<h1>Archive</h1>

{% assign posts_collate = site.posts %}
{% include JB/posts_collate %}