$leftPadding: 15px;

#index {
  footer {
    background: #E5E5E5;
  }
  .project {
    min-height: 400px;
  }
  .wrapper {
    background-color: #FFFFFF;
  }
  a:hover {
    text-decoration: none;
    color: red;
  }
  h1 {
    font-size: 2em;
    margin: 10% 0 0 $leftPadding;
    color: #444;
  }

  h2 {
    font-size: 1.5em;
    margin: 0 0 0 $leftPadding;
    color: #666;
  }

  .quotes {
    display: none;
  }

  .social-media {
    margin: 3% 0 3% $leftPadding;
  }
  .social-media a {
    padding: 0 20px 0 0;
    color: #000;
    font-size: 20px;
  }
  .social-media a:hover, .social-media a:visited {
    text-decoration: none;
  }

  .posts, .newsletter {
    list-style: none;
    margin-bottom: 50px;
    padding-left: $leftPadding;
    a {
      color: #666;
      font-weight: 400;
      &.more {
        color: #888;
        font-weight: 600;
      }
      &:hover, &.more:hover {
        color: red;
      }
    }
  }

  .newsletter {
    margin-bottom: 50px;
  }


  .card-image {
    max-width: 100%;
    position: absolute;
    -webkit-filter: opacity(100%);
    -webkit-transition: -webkit-filter .25s;
    transition: -webkit-filter .25s;
  }

  .img-container {
    position: relative;
    overflow:hidden;
    padding-bottom: 100%;
    &:hover {
      -webkit-filter: opacity(60%);
    }
    a {
      padding: 0px;
    }
  }

  h1.section-header {
    text-align:center;
    margin-top:50px;
    margin-bottom:50px;
  }

  a.project-title {
    font-weight: 400;
    text-align: center;
    h4 {
      padding: 10px 0;
      margin: 0;
      text-transform: uppercase;
      color: #404040;
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      letter-spacing: .06em;
      height: auto;
      text-decoration: none;
    }
    p {
      color: #666;
      margin: 0 0 30px 0;
      .status {
        font-style: italic;
        color: #888;
      }
    }
  }
  .listen {
    text-align: right;
  }

  #other-projects {
    background-color: #E5E5E5;
  }

  #contact {
    margin-right:0px;
    background-color:#111;
    color:#FFF;

    // .available {
    //   color:#FFF;
    //   text-align:center;
    //   margin: 50px auto;
    //   font-size:25px;
    //   line-height:30px;
    //   &.available-sm {
    //     margin-bottom: 100px;
    //   }
    // }

    .speak {
      color:#FFF;
      padding: 130px 0 100px;
      h1 {
        margin:100px 0px 50px 0px;
        color:#fff
      }
      p {
        font-size:25px;
        line-height:30px;
        padding-bottom:30px;

        >a {
          font-weight:200;
          color:#219FFF;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  #index {
    .social-media {
      margin: 20px 0 20px $leftPadding;
      a {
        padding: 0 15px 0 0;
      }
    }
    .listen {
      text-align: left;
      margin-bottom: 50px;
    }
    a.project-title {
      h4 {
        height: 60px;
        overflow: hidden;
      }
      p {
        font-size: 12px;
        height: 80px;
        margin-bottom: 0px;
      }
    }
    .project {
      min-height:350px;
    }
  }
}
