$leftPadding: 15px;

#index {
  .press {
    margin-bottom: 100px;
  }

  .wrapper {
    background-color: #FFFFFF;
  }

  a:hover {
    text-decoration: none;
    color: red;
  }

  h1 {
    font-size: 2em;
    margin: 10% 0 0 $leftPadding;
    color: #444;
    &.section-header {
      text-align:center;
      margin-top:50px;
      margin-bottom:50px;
    }
  }

  h2 {
    font-size: 1.5em;
    margin: 0 0 0 $leftPadding;
    color: #666;
  }

  a.social-media {
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-thickness: 10%;
    font-size: 26px;
    color: #FFF !important;
    &:hover, &:visited {
      text-decoration: none;
      color:white;
    }
    &:hover {
      color: red;
    }
  }

  .posts, .newsletter {
    // list-style: url('/assets/img/fern.svg');
    list-style: none;
    margin-bottom: 50px;
    // padding-left: $leftPadding;
    a {
      color: #FFF;
      font-weight: 400;
      font-size: 20px;
      &.more {
        color: #888;
        font-weight: 600;
      }
      span.date {
        color: #888;
        padding-left: $leftPadding;
      }
      &:hover, &.more:hover {
        color: red;
      }
    }
  }

  #contact {

    margin-right:0px;
    margin-bottom: 100px;
    background-color:#111;
    color:#FFF;

    .speak {
      color:#FFF;
      padding: 130px 0px;
      h1 {
        margin:100px 0px 50px 0px;
        color:#fff
      }
      p {
        &.name {
          font-size: 40px;
          margin-bottom: 60px;
        }
        font-size:26px;
        line-height:30px;

        >a {
          color:#219FFF;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  #index {
    .btn-subscribe {
      margin: 0px;
    }

    .social-media {
      margin: 20px 0;
      a {
        padding: 0 15px 0 0;
      }
    }
  }
}

div.identity {
  margin-top: 30px;
  margin-bottom: 30px;
  p.identity-links {
    margin: 5px 0;
    padding-bottom: 0px;
  }
}

