<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.layout == 'review' %}The Litt Review{% else %}Burnt Fen{% endif %} | {{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% else %}<meta name="description" content="{{ site.tagline }}">{% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{{ site.author.name }}">
    <meta name="copyright" content="&copy; {{ site.author.name }} {{ site.time | date: '%Y' }}">

    <!-- Security -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' https:">

    <!-- Open Graph -->
    {% if page.description %}<meta property="og:description" content="{{ page.description }}" />{% else %}<meta property="og:description" content="{{ site.tagline }}" />{% endif %}
    <meta property="og:url" content="{{site.url}}{{page.url}}" />
    <meta property="og:site_name" content="Richard Littauer" />
    <meta property="og:title" content="{% if page.layout == 'review' %}The Litt Review{% else %}Richard Littauer{% endif %}" />
    <meta property="og:type" content="website" />
    {% if page.picture %}<meta property="og:image" content="https://burntfen.com/assets/img/{% if page.layout %}{{ page.layout }}{% endif %}/{{ page.picture }}">{% else %}<meta property="og:image" content="https://burntfen.com/assets/img/avatar.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="510" />
    <meta property="og:image:height" content="515" />
    {% endif %}

    <!-- Twitter: card tags -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@richlitt" />
    <meta name="twitter:title" content="{% if page.layout == 'review' %}The Litt Review{% else %}Richard Littauer{% endif %}">
    {% if page.description %}<meta property="twitter:description" content="{{ page.description }}" />{% else %}<meta property="twitter:description" content="{{ site.tagline }}" />{% endif %}
    {% if page.picture %}<meta name="twitter:image" content="https://burntfen.com/assets/img/{% if page.layout %}{{ page.layout }}{% endif %}/{{ page.picture }}">{% else %}<meta name="twitter:image" content="https://burntfen.com/assets/img/avatar.png">{% endif %}

    <!-- Open Source Protocol -->
    <link rel="profile" href="http://osprotocol.com" />
    <meta property="os:repo" content="https://github.com/RichardLitt/richardlitt.github.com" />
    <meta property="os:rcs_type" content="git" />
    <meta property="os:src" content="git@github.com:RichardLitt/richardlitt.github.com.git" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ HOME_PATH }}assets/css/bootstrap.css" rel="stylesheet">
    <link href="{{ HOME_PATH }}assets/css/custom.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ HOME_PATH }}favicon.ico">
    <link rel="apple-touch-icon" href="{{ HOME_PATH }}images/touch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="{{ HOME_PATH }}images/touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="{{ HOME_PATH }}images/touch-icon-iphone-retina.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="{{ HOME_PATH }}images/touch-icon-ipad-retina.png" />
  </head>
  <body>

    <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="{{ HOME_PATH }}">RICHARD LITTAUER</a>
         </div> <!-- /container -->
       </div> <!-- /navbar-inner -->
     </div> <!-- /navbar -->

    <div class="wrapper">

    <div class="container subpage">

      <div class="content">
        {{ content }}
      </div>


              <footer>
              <p>Send me a letter: <a href="mailto:richard@burntfen.com">richard@burntfen.com</a></p>
          <p>{{ site.author.name }} &copy; {{ site.time | date: '%Y' }}.
            <a href="https://github.com/RichardLitt/richardlitt.github.com">Source</a>.
          </p>
        </footer>
    <div class="push"></div>

    </div> <!-- /container -->

  </div> <!-- /wrapper -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ HOME_PATH }}assets/js/jquery.js"></script>
    <script src="{{ HOME_PATH }}assets/js/bootstrap.min.js"></script>
    {% include JB/analytics %}
  </body>
</html>
