<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{{ site.author.name }}">
    <meta name="copyright" content="&copy; {{ site.author.name }} 2015">
    <meta name="description" content="My personal website, where I list all of my main projects and occasionally blog.">

    <meta name="google-site-verification" content="8QqLkBKn1EYwbbAcD3TzbJpc8Zgni2mRuEhnlUeoGVg" />

    <meta property="og:description" content="My personal website, where I list all of my main projects and occasionally blog." />
    <meta property="og:url" content="http://burntfen.com/" />
    <meta property="og:site_name" content="Richard Littauer" />
    <meta property="og:title" content="Richard Littauer" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://burntfen.com/assets/img/avatar.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="510" />
    <meta property="og:image:height" content="515" />

    <!-- Twitter: card tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Richard Littauer">
    <meta name="twitter:description" content="My personal website, where I list all of my main projects and occasionally blog.">
    <meta name="twitter:image" content="http://burntfen.com/assets/img/avatar.png">
    <meta name="twitter:url" content="http://burntfen.com">

    <!-- Open Source Protocol -->
    <link rel="profile" href="http://osprotocol.com" />
    <meta property="os:repo" content="https://github.com/RichardLitt/richardlitt.github.com" />
    <meta property="os:rcs_type" content="git" />
    <meta property="os:src" content="git@github.com:RichardLitt/richardlitt.github.com.git" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ HOME_PATH }}assets/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="{{ HOME_PATH }}assets/css/custom.css" rel="stylesheet">

    <link rel="shortcut icon" href="favicon.ico">

    <!-- Le fav and touch icons -->
    <link rel="apple-touch-icon" href="{{ HOME_PATH }}images/touch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="{{ HOME_PATH }}images/touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="{{ HOME_PATH }}images/touch-icon-iphone-retina.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="{{ HOME_PATH }}images/touch-icon-ipad-retina.png" />

  </head>
  <body id="index">
    <div class="wrapper">
      <div class="container">
        <h1>Richard Littauer</h1>
        <h2 class="quotes" style="display:block">Developer</h2>
        <h2 class="quotes">Nomad</h2>
        <h2 class="quotes">Linguist</h2>
        <h2 class="quotes">Poet</h2>
        <h2 class="quotes">UX Designer</h2>
        <h2 class="quotes">Organizer</h2>
        <h2 class="quotes">Writer</h2>
        <h2 class="quotes">Creator</h2>

        <div class='social-media'>
          <a href="https://github.com/RichardLitt" rel="me"><i class="fa fa-github"></i></a>
          <a href="https://twitter.com/#!/richlitt" rel="me"><i class="fa fa-twitter"></i></a>
          <a href="https://medium.com/@richlitt"><i class="fa fa-medium"></i></a>
          <a href="https://instagram.com/richlittv3/"><i class="fa fa-instagram"></i></a>
          <a href="https://dribbble.com/richlitt"><i class="fa fa-dribbble"></i></a>
          <a href="http://www.flickr.com/photos/101526362@N04/"><i class="fa fa-flickr"></i></a>
          <a href="http://www.last.fm/user/RichardFenn"><i class="fa fa-lastfm"></i></a>
          <a href="https://angel.co/richlitt"><i class="fa fa-angellist"></i></a>
        </div>

        <div class="posts">
          {% for post in site.posts limit:3 %}
          <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a><br />
          {% endfor %}
          <a class="more" href="/archive">More posts...</a>
        </div>

        <div class="newsletter">
          <a class="more" href="https://tinyletter.com/richlitt">Start reading my weekly newsletter</a></p>
        </div>

        <div class="row col-md-12 projects">
          {% assign projects = (site.projects | sort: 'ranking') %}
          {% for project in projects limit:16 %}
            {% assign loopindex = forloop.index | modulo: 3 %}
            {% if loopindex == 1 %}
              <div class="col-xs-6 col-sm-4 col-md-3" style="margin-left:0px;">
            {% else %}
              <div class="col-xs-6 col-sm-4 col-md-3">
            {% endif %}
                <div class="img-container">
                  <a href="{{ project.url }}">
                    <img src="assets/img/projects/{{ project.picture }}" class="card-image"/>
                  </a>
                </div>
                <a class="project-title" href="{{ project.url }}">
                  <h4>
                    {{ project.title }}
                  </h4>
                  <p>{{ project.stub}}<br />
                  {{ project.role }} <span class="status">{{ project.status }}</span></p>
                </a>
              </div>
            {% if forloop.index == 3 %}
              <div class="clearfix visible-sm-block"></div>
            {% elsif forloop.index == 4 %}
              <div class="clearfix visible-md-block visible-lg-block"></div>
            {% elsif forloop.index == 12 %}
              <div class="clearfix visible-md-block visible-lg-block"></div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="wrapper" id="contact" >
      <div class="container">
        <div class="row col-md-12 press" >
          <div class="col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1 speak">
            <h1 >Speak</h1>
            <p><a href="mailto:richard@burntfen.com">richard@burntfen.com</a></p>
            <p>I build things, make art, code tools, write words, have fun.</p>
            <p>I am available for…</p>
            <p class="visible-xs available">Writing • Talks • UX • Code • Walks • Letters • Collaboration • Ideas • Joy • Design • Projects</p>
          </div>
          <div class="col-sm-5 col-md-5 listen">
            <hr class="visible-xs">
            <h1 >Listen</h1>
            <div>
              <p><a href="https://tinyletter.com/richlitt">tinyletter.com/richlitt</a></p>
              <p>I write a weekly newsletter, from me to your inbox.</p>
              <p class="hidden-xs">I write about…</p>
            </div>
          </div>
          </div>
        <div class="row col-md-8 col-md-offset-2 hidden-xs">
          <p class="available available-sm">Writing • Talks • UX • Code • Walks • Letters • Collaboration • Ideas • Joy • Design • Projects</p>
        </div>
      </div>
    </div>


    <div class="wrapper">
      <div class="container">

        <div class="row col-md-12 press">
          <h1 class="section-header">Press</h1>
          {% for press in site.data.press %}
            {% if forloop.index == 7 %}
              <div class="col-xs-4 col-sm-3 col-md-2 col-md-offset-2">
            {% elsif forloop.index == 9 %}
              <div class="col-xs-4 col-sm-3 col-sm-offset-3 col-md-2 col-md-offset-0">
            {% elsif forloop.index == 10 %}
              <div class="col-xs-4 col-xs-offset-4 col-sm-3 col-sm-offset-0 col-md-2">
            {% else %}
              <div class="col-xs-4 col-sm-3 col-md-2">
            {% endif %}
              <div class="img-container">
                <a href="{{ press.url }}" title="{{ press.title }}">
                  <img src="assets/img/press/{{ press.image }}" class="card-image">
                </a>
              </div>
            </div>
          {% endfor %}
        </div>

      </div>
    </div>

    <div class="wrapper" id="other-projects">
      <div class="container">

        <div class="row col-md-12 projects">
          <h1 class="section-header">Other Projects</h1>
          {% assign projects = (site.projects | sort: 'ranking') %}
          {% for project in projects offset:16 %}
            {% assign loopindex = forloop.index | modulo: 3 %}
            {% if loopindex == 1 %}
              <div class="col-xs-6 col-sm-4 col-md-3" style="margin-left:0px;">
            {% else %}
              <div class="col-xs-6 col-sm-4 col-md-3">
            {% endif %}
                <div class="img-container">
                  <a href="{{ project.url }}">
                    <img src="assets/img/projects/{{ project.picture }}" class="card-image"/>
                  </a>
                </div>
                <a class="project-title" href="{{ project.url }}">
                  <h4>
                    {{ project.title }}
                  </h4>
                  <p>{{ project.stub}}<br />
                  {{ project.role }} <span class="status">{{ project.status }}</span></p>
                </a>
              </div>
              {% if forloop.index == 3 %}
                <div class="clearfix visible-sm-block"></div>
              {% elsif forloop.index == 4 %}
                <div class="clearfix visible-md-block visible-lg-block"></div>
              {% elsif forloop.index == 16 %}
                <div class="clearfix visible-md-block visible-lg-block"></div>
              {% elsif forloop.index == 20 %}
                <div class="clearfix visible-md-block visible-lg-block"></div>
              {% endif %}
          {% endfor %}
        </div>

         <footer>
         <p>Send me a letter: <a href="mailto:richard@burntfen.com">richard@burntfen.com</a></p>
          <p>{{ site.author.name }} &copy; <script type="text/javascript">document.write(new Date().getFullYear())</script>.
            <a href="https://github.com/RichardLitt/richardlitt.github.com">Source</a>.
          </p>
        </footer>
      <div class="push"></div>

    </div> <!-- /container -->

  </div> <!-- /wrapper -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="assets/js/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

    <script type="text/javascript">
      (function() {
          var quotes = $(".quotes")
          var quoteIndex = -1
          var duration = 1000

          function showNextQuote() {
              ++quoteIndex;
              quotes.eq(quoteIndex % quotes.length)
                  .fadeIn(duration)
                  .delay(duration)
                  .fadeOut(duration, showNextQuote)
          }

          showNextQuote()
      })()
    </script>

    {% include JB/analytics %}


  </body>
</html>
