<a href="{{ page.outbound }}">
  <h1 class="project-page-title">{{ page.title }}</h1>
</a>

<div id="project-page" class="container-fluid">
  <div class="row-fluid">
    <div class="col-sm-4">
      <a href="{{ page.outbound }}">
        <img class="project-image" src="../../assets/img/projects/{{ page.picture }}" />
      </a>
    </div>
    <div class="col-sm-8">
      <h4>{{ page.stub}}</h4>
      <p class="role"><i>{{ page.role }}</i> {{ page.status }}</p>
      {{ content }}
    </div>
    <hr>
  </div>
</div>
