<style type="text/css">
  .project-image {
    max-width: 100%
  }
  h1 {
    margin-left: 30px;
  }
</style>


<h1>{{ page.title }}</h1>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-sm-4">
      <a href="{{ page.outbound }}">
        <img class="project-image" src="../../assets/img/projects/{{ page.picture }}" />
      </a>
    </div>
    <div class="col-sm-8">
      <h4>{{ page.stub}}<br />
      {{ page.role }}</h4>
      {{ content }}
    </div>
    <hr>
  </div>
</div>
