<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-sm-12 review-page-header">
      <h1 class="rp-title">{{ page.title }}</h1>
      <p class="rp-author">By {{ page.author }}</p> {% if page.date != null %}
      <p class="rp-date">Reviewed {{ page.date | date: "%b %-d, %Y"}} on <a href="../../">The Litt Review</a>.</p>
      {% endif %}
    </div>
  </div>
</div>

<div id="review-page" class="container-fluid">
  <div class="row-fluid">
    <div class="col-sm-12">
      {% if page.picture %}
        {% if page.outbound %}<a href="{{ page.outbound }}">{% endif %}
          <img class="project-image" style="float:right; width:20%;" src="../../assets/img/review/{{ page.picture }}" />
          {% if page.outbound %}</a>{% endif %}
      {% endif %}
      {{ content }}
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-sm-12">
      <hr />
      {% include themes/minimalber/litt-review-email-subscribe.html %}
    </div>
  </div>
</div>
