<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{{ site.author.name }}">
    <meta name="copyright" content="&copy; {{ site.author.name }} 2015">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ HOME_PATH }}assets/css/bootstrap.css" rel="stylesheet">
    <link href="{{ HOME_PATH }}assets/css/responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ HOME_PATH }}assets/css/font-awesome.min.css">

    <link rel="shortcut icon" href="favicon.ico">

    <!-- Le fav and touch icons -->
    <link rel="apple-touch-icon" href="{{ HOME_PATH }}images/touch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="{{ HOME_PATH }}images/touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="{{ HOME_PATH }}images/touch-icon-iphone-retina.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="{{ HOME_PATH }}images/touch-icon-ipad-retina.png" />

  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="{{ HOME_PATH }}">RICHARD LITTAUER<!--{{ site.title }}--></a>
         </div> <!-- /container -->
       </div> <!-- /navbar-inner -->
     </div> <!-- /navbar -->

     <div class="container-fluid row-fluid span12 hero"></div>


    <div class="wrapper">

    <div class="container">

      <div class="content">
        {{ content }}
      </div>


              <footer>
              <p>Send me a letter: <a href="mailto:richard.littauer@gmail.com">richard.littauer@gmail.com</a></p>
          <p>{{ site.author.name }} &copy; <script type="text/javascript">
            document.write(new Date().getFullYear());
          </script>.
            <a href="https://github.com/RichardLitt/richardlitt.github.com">Source</a>.
          </p>
        </footer>
    <div class="push"></div>

    </div> <!-- /container -->

  </div> <!-- /wrapper -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="{{ HOME_PATH }}assets/js/jquery.js"></script>
    <script src="{{ HOME_PATH }}assets/js/bootstrap.min.js"></script>
    <script src="{{ HOME_PATH }}assets/js/switch.js"></script>

    {% include JB/analytics %}

  </body>
</html>
