<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{{ site.author.name }}">
    <meta name="copyright" content="&copy; {{ site.author.name }} 2015">
        <meta name="description" content="My personal website, where I list all of my main projects and occasionally blog.">

    <meta property="og:description" content="My personal website, where I list all of my main projects and occasionally blog." />
    <meta property="og:url" content="http://burntfen.com/" />
    <meta property="og:site_name" content="Richard Littauer" />
    <meta property="og:title" content="Richard Littauer" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://burntfen.com/assets/img/avatar.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="510" />
    <meta property="og:image:height" content="515" />

    <!-- Twitter: card tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Richard Littauer">
    <meta name="twitter:description" content="My personal website, where I list all of my main projects and occasionally blog.">
    <meta name="twitter:image" content="http://burntfen.com/assets/img/avatar.png">
    <meta name="twitter:url" content="http://burntfen.com">

    <!-- Open Source Protocol -->
    <link rel="profile" href="http://osprotocol.com" />
    <meta property="os:repo" content="https://github.com/RichardLitt/richardlitt.github.com" />
    <meta property="os:rcs_type" content="git" />
    <meta property="os:src" content="git@github.com:RichardLitt/richardlitt.github.com.git" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ HOME_PATH }}assets/css/bootstrap.css" rel="stylesheet">
    <link href="{{ HOME_PATH }}assets/css/responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link rel="shortcut icon" href="favicon.ico">

    <!-- Le fav and touch icons -->
    <link rel="apple-touch-icon" href="{{ HOME_PATH }}images/touch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="{{ HOME_PATH }}images/touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="{{ HOME_PATH }}images/touch-icon-iphone-retina.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="{{ HOME_PATH }}images/touch-icon-ipad-retina.png" />

    <script src="assets/js/random.js"></script>

  </head>
  <body id="index">

     <div class="container-fluid row-fluid span12 hero-index hidden-phone">

        <div id="avatar">
          <img src="assets/img/avatar.png" name="photo" /> <!-- onclick="do_switch()"/-->
        </div>

        <div id="title">
            <p>Richard Littauer</p>
        </div>
<!--
        <div class="random menu" style="width:75px;"><a href="#projects">projects</a></div>
        <div class="random menu" style="width:140px;"><a href="#art">poetry and art</a></div>
        <div class="random menu" style="width:85px;"><a href="#linguistics">academia</a></div>
        <div class="random menu" style="width:115px;"><a href="#fossils">old projects</a></div> -->

     </div>
     <div class="container-fluid row-fluid span12 hero-index visible-phone">

        <div id="avatar">
          <img src="assets/img/avatar.png" name="photo" />
        </div>

        <div id="title">
            <p>Richard Littauer</p>
        </div>

     </div>

    <div class="wrapper">

      <div class="container">

        <div class="content">
          {{ content }}
        </div>

         <footer>
         <p>Send me a letter: <a href="mailto:richard.littauer@gmail.com">richard.littauer@gmail.com</a></p>
          <p>{{ site.author.name }} &copy; <script type="text/javascript">
            document.write(new Date().getFullYear());
          </script>.
            <a href="https://github.com/RichardLitt/richardlitt.github.com">Source</a>.
          </p>
        </footer>
      <div class="push"></div>

    </div> <!-- /container -->

  </div> <!-- /wrapper -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- script src="assets/js/switch.js"></script -->

    {% include JB/analytics %}


  </body>
</html>
